body{
    background-color: rgb(18, 18, 36);

    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */ 
}

main{
    width: 500px;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 45px;
}

.room{    
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 330px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-y: auto; /* auto horizontal scroll */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    background-color: rgb(31, 31, 58);
    color: white;    
    
}

.button{    
    text-align: center;    
    font-size: 26px;
    border: 0px;    
    background-color: rgb(63, 63, 63);
    height: 43px;    
    width: 40px;
    border-radius: 45%;    
    margin-left: 5px;

    -webkit-transition: .2s all;   
    -webkit-transition-delay: 0s; 
    -moz-transition: .2s all;   
    -moz-transition-delay: 0s; 
    -ms-transition: .2s all;   
    -ms-transition-delay: 0s; 
    -o-transition: .2s all;   
    -o-transition-delay: 0s; 
    transition: .2s all;   
    transition-delay: 0s;
    opacity : 0.7 
}

.button:hover{        
    border-radius: 20%;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    cursor: pointer;
    opacity : 1
}

.button.blue{
    color: rgb(70, 134, 255);    
}

#play:hover img{
    content: url('https://i.ibb.co/tQ53sxs/Play2.png');
}

.button.blue:hover{
    background-color: rgb(70, 134, 255);
    color: white;
}

.button.red{
    color: rgb(255, 70, 70);
}

.button.red:hover{
    color: white;
    background-color: rgb(255, 70, 70);
}

.player{    
    position:absolute;
    bottom: 0;
    width: 100%;
    margin: auto;    
    background-color: rgb(25, 25, 46);
    height: 50px;    
    display: flex;
    flex-wrap: wrap;
}

.icon{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
}

.nameplayer{
    margin-top: 15px;
    margin-left: 10px;
    height: 35px;
    width: 140px;
    font-family: "Bell MT";
}

#conf:hover img{
    content: url('https://i.ibb.co/kS2skqY/config2.png');
}

#exit:hover img{
    content: url('https://i.ibb.co/xXtTgCc/disconnect3.png');
}

#tablePlayers{
    width: 280px;    
    margin-top: 20px;
    margin-left: 10px;
}

.titlePlayers{
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 20%;
    border-top: 2px solid rgb(53, 53, 53);
    margin: auto;
    margin-top: 10px;
    width: 70%;
    text-align: center;
    opacity : 0.5;
}